/* 로고 관련 */

#site-rogo{
    width: 205px;
    height: 120px;
}

/* 게시판 관련 */

.board-button{
    background-color: rgba(164, 120, 100, 0.7);
    border-style: none;
    border-radius: 10px;
    color: white;
    height: 35px;
}

#notice-board{
    width: 110px;
}

#license-review-board{
    width: 90px;
}

#study-board{
    width: 80px;
}

#guideline-board{
    width: 120px;
}

#login-td{
    padding-left: 1100px;
}

#board-title{
    padding-left: 200px;
}

/* 게시글 관련 */
#postContent-form{
    padding-left: 150px;
    padding-top: 100px;
}

#postContent-category{
    display: inline-block;
    width: 100px;
    margin-left: 170px;
    border-bottom: 1px solid black;
    color: rgb(164 120 100);
}

#postContent-title{
    display: inline-block;
    width: 900px;
    border-bottom: 1px solid black;
    color: rgb(164 120 100);
}

#postContent-date{
    text-align: center;
    display: inline-block;
    width: 100px;
    border-bottom: 1px solid black;
    color: rgb(164 120 100);
}

#postContent-views{
    text-align: center;
    display: inline-block;
    width: 100px;
    border-bottom: 1px solid black;
    color: rgb(164 120 100);
}

#postContent-recommend{
    text-align: center;
    display: inline-block;
    width: 100px;
    border-bottom: 1px solid black;
    color: rgb(164 120 100);
}

#postContent-content{
    width: 1300px;
    height: 900px;
    margin-left: 170px;
    margin-top: 20px;
    resize: none;
    text-align: center;
}

#postContent-editButton{
    margin-left: 1300px;
}

.postContent-buttons{
    background-color: rgba(164, 120, 100, 0.5);
    border-style: none;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.7);
}

/* 댓글 관련 */
#postContent-reply{
    width: 1300px;
    height: 300px;
    margin-left: 170px;
    margin-top: 50px;
    resize: none;
}

#postContent-replyContent{
    width: 1100px;
    height: 100px;
    margin-left: 170px;
    margin-top: 50px;
}

#replyButton{
    width: 200px;
    height: 105px;
    background-color: rgba(164, 120, 100, 0.5);
    border-style: none;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.7);
}